HOST=0.0.0.0
PORT=1337

APP_KEYS=pSlWoV/S3LvbFN6V4PpSKA==,0OFI4Hrp0yGxPSf3xuBGLQ==,Z2algrgmxWSrDF8vV7Q8ng==,dSRlSb1i7Q3k6YrnUZO9WQ==
API_TOKEN_SALT=i1nG4gqvWDKBExA6S4+ihg==
ADMIN_JWT_SECRET=pYFKfFnx558MzdNWgxIX4Q==
TRANSFER_TOKEN_SALT=eUCOW/6JTx0PPpULY7Y4zA==

NODE_ENV=development
DATABASE_CLIENT=postgres
DATABASE_HOST=strapiDB
DATABASE_PORT=5432
DATABASE_NAME=wkm-api
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=123